name: My 2nd Workflow
on: push
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v4
            - name: Execute script
              run: |
                chmod +x ./ascii-script.sh
                ./ascii-script.sh